.nav {
  position: fixed;
  top: 0;
  padding: 20px;
  width: 100%;
  z-index: 1;
  height: 30px;

  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.nav__black {
  background-color: #111;
}

.nav__logo {
  width: 80px;
  position: fixed;
  left: 20px;
  object-fit: contain;
}

.nav__avatar {
  position: fixed;
  right: 20px;
  width: 30px;
  object-fit: contain;
}
